*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #e1e0e0;
}


/* 轮播图 */
.banner_div{
	width: 100%;
	height: auto;
	position: relative;
	background-color:  #e1e0e0;
	text-align: center;
}

.imgContent {
	width: 100%;
	height:auto;
}

.imgContent div {
	position: absolute;
}

.imgContent .smask {
	z-index: -1;
}
.imgContent div img {
	width: 100%;
	height: 100%;
	border: 0;
}



/* 查看所有按钮 */
.banner_button{
	position: absolute;
	z-index: 100;
	top: 50%;
	left: 50%;
	height: 55px;
	width: 360px;
	margin-left: -180px;
	margin-top: -30px;
	line-height: 50px;
	color: white;
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.3em;
	border: white solid 4px;
	cursor: pointer;
	text-align: center;
}


/* 瀑布流 */
.waterFull{
	position: relative;
	background-color: #000000;
	padding: 100px 0;
	width: 100%;
	height: auto;
	opacity: 0;
	overflow-x: hidden;

}

.waterFull div {
	position: relative;
}
.waterFull div div {

	background-color: #fff;
	position: absolute;
	margin: 20px;
	border-radius: 8px;
	width: 240px;
	-webkit-transition: all .7s ease-out .1s;
	-moz-transition: all .7s ease-out .1s;
	-o-transition: all .7s ease-out .1s;
	transition: all .7s ease-out .1s
}


.waterFull div div img{
	width: 100%;
	display: block;
	margin-bottom: 10px;
	border-radius: 8px 8px 0 0;
}

.waterFull div div p{
	padding: 0 10px 10px 10px;
	font-size: 12px;
	letter-spacing: 0.2em;
}




/* 加载更多年份 */
.loadMoreYear {
	clear: both;
	width: 100%;
	height: 360px;
	position: relative;
	background: #e1e0e0;

}

.loadMoreYear_button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -150px;
	height: 70px;
	width: 300px;
	line-height: 70px;
	background: chocolate;
	color: white;
	box-shadow: 1px 1px 10px 0 #ccc;
	border: none;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	font-weight: 600;
	font-family: "Microsoft JhengHei Light";
	cursor: pointer;
	text-align: center;
}

/* footer */
.footer {
	clear: both;
	width: 100%;
	background: black;
	text-align: center;
	z-index: 100;
}

.footer_back {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding: 50px 0;
}

.footer_back p {
	margin-top: 30px;
	letter-spacing: 0.5em;
	color: #ccc;
}

@media screen and (max-width: 1024px) {
	.banner_button{
		width: 300px;
		height: 56px;
		margin-left: -150px;
		margin-top: -28px;
	}

	.loadMoreYear_button {
		margin-top: -30px;
		margin-left: -120px;
		height: 60px;
		line-height: 60px;
		width: 240px;
		font-size: 1.2em;
	}

	.loadMoreYear {
		height: 320px;
	}

	.footer_back {
		padding: 40px 0;
	}

}

@media screen and (max-width: 768px) {
	.banner_button{
		width: 240px;
		height: 46px;
		margin-top: -23px;
		margin-left: -120px;
		line-height: 40px;
		font-size: 1.2em;
		letter-spacing: 0.3em;
	}

	.loadMoreYear_button {
		margin-top: -25px;
		margin-left: -110px;
		height: 50px;
		line-height: 50px;
		width: 220px;
		font-size: 1.0em;
	}

	.loadMoreYear {
		height: 280px;
	}

	.footer_back img {
		width: 100px;
		height: 100px;
	}

}

@media screen and (max-width: 520px) {
	.banner_button{
		width: 200px;
		height: 35px;
		margin-top: -17px;
		margin-left: -100px;
		line-height: 30px;
		font-size: 1.1em;
		letter-spacing: 0.1em;
		border: white solid 2px;
		font-weight: 300;
	}

	.loadMoreYear_button {
		margin-top: -20px;
		margin-left: -100px;
		height: 40px;
		line-height: 40px;
		width: 200px;
		letter-spacing: 0.1em;
		font-size: 0.8em;
	}

	.loadMoreYear {
		height: 220px;
	}

	.footer_back {
		padding: 30px 0;
	}

	.footer_back img {
		width: 80px;
		height: 80px;
	}

	.footer_back p {
		margin-top: 20px;
		letter-spacing: 0.3em;
		font-size: 0.8em;
		color: #ccc;
	}
}

@media screen and (max-width: 320px) {
	.banner_button{
		width: 140px;
		height: 28px;
		margin-left: -70px;
		margin-top: -10px;
		line-height: 28px;
		font-size: 0.8em;
		letter-spacing: 0.2em;
		border: white solid 1px;
		font-weight: 300;
	}

	.loadMoreYear_button {
		margin-top: -15px;
		margin-left: -70px;
		height: 30px;
		line-height: 30px;
		width: 140px;
		letter-spacing: 0.1em;
		font-size: 0.6em;
	}

	.loadMoreYear {
		height: 150px;
	}

	.footer_back {
		padding: 30px 0;
	}

	.footer_back img {
		width: 50px;
		height: 50px;
	}

	.footer_back p {
		margin-top: 20px;
		letter-spacing: 0.2em;
		font-size: 0.6em;
		color: #ccc;
	}

}


.tec2015, .tec2016{
	background-color: #000;
}
