*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
body, html { font-size: 100%; padding: 0; margin: 0;}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: #e1e0e0;
}

/* 查看所有按钮 */
.banner_button{
	position: absolute;
	z-index: 100;
	width: 100%;
	height: 560px;
}

.contectbutton {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 55px;
	width: 360px;
	margin-left: -180px;
	margin-top: -70px;
	line-height: 50px;
	color: white;
	font-size: 1.6em;
	font-weight: 600;
	letter-spacing: 0.3em;
	font-family: "Microsoft YaHei UI";
	border: white solid 4px;
	cursor: pointer;
	text-align: center;
}

.hah{
	transition: all .4s;
}
.line_lt{
	height:0;
	width:0;
	background: #fff;
	position: absolute;
	top:-280px;
	left:-4px;
}
.line_top{
	height:0;
	width:0;
	background: #fff;
	position: absolute;
	left: 550px;
	top:-4px;
}
.line_rt{
	height:0;
	width:0;
	background: #fff;
	position: absolute;
	top:260px;
	right:-4px;
}
.line_bot{
	height:0;
	width:0;
	background: #fff;
	position: absolute;
	left:-280px;
	bottom:-4px;
}
.contectbutton:hover .line_bot{
	height:4px;
	width:50px;
	transform: translate(280px);
}
.contectbutton:hover .line_rt{
	height:50px;
	width:4px;
	transform: translateY(-260px);
}
.contectbutton:hover .line_top{
	height:4px;
	width:50px;
	transform: translate(-260px);
}
.contectbutton:hover .line_lt{
	height:50px;
	width:4px;
	transform: translateY(280px);
}


/* 瀑布流 */
.container{
	padding: 100px 0;
	width: 100%;
	height:auto;
	overflow: hidden;
	background-color: #000000;
}

.grid {
	width: 80%;
	list-style: none;
	margin: 0 auto;
	padding: 0;
}

.grid li {
	display: block;
	float: left;
	padding: 15px;
	width: 25%;
	opacity: 0;
}

.grid li.shown,
.no-js .grid li,
.no-cssanimations .grid li {
	opacity: 1;
}

.grid li img {
	outline: none;
	border: none;
	display: block;
	max-width: 100%;
	border-radius: 8px 8px 0 0;
}

.grid.effect li.animate {
	-webkit-transform: translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards;
}

@-webkit-keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1; }
}

@keyframes moveUp {
	0% { }
	100% { -webkit-transform: translateY(0); transform: translateY(0); opacity: 1; }
}

.grid_text{
	padding: 2px 10px;
	background-color: #fff;
	border-radius: 0 0 8px 8px;
}
.grid_text p{
	display: block;
	font-size: 12px;
	letter-spacing: 0.2em;
	margin: 5px;
}

/* 加载本年所有照片 */

/* 轮播图 */
.banner_img {
	width: 100%;
	height:auto;
	/*position: fixed;*/
	z-index: -100;
}

.imgContent {
	width: 100%;
	height:auto;
}
.imgContent DIV {
	position: absolute;
}
.imgContent .smask {
	z-index: -1;
}
.imgContent IMG {
	width: 100%;
	border: 0;
}

.banner_div{
	width: 100%;
	height: 560px;
	position: relative;
	background-color:  #e1e0e0;
}

@media screen and (max-width: 1100px) {
	.grid li {
		width: 33.3%;
	}
}


@media screen and (max-width: 800px) {
	.grid li {
		width: 50%;
	}

}

@media screen and (max-width: 400px) {
	.grid li {
		width: 100%;
	}
}



/* 加载更多年份 */
.loadMoreYear {
	clear: both;
	width: 100%;
	height: 360px;
	position: relative;
	background: #e1e0e0;

}

.loadMoreYear_button {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -35px;
	margin-left: -150px;
	height: 70px;
	width: 300px;
	line-height: 70px;
	background: chocolate;
	color: white;
	box-shadow: 1px 1px 10px 0 #ccc;
	border: none;
	letter-spacing: 0.2em;
	font-size: 1.4em;
	font-weight: 600;
	font-family: "Microsoft JhengHei Light";
	cursor: pointer;
	text-align: center;
}

/* footer */
.footer {
	clear: both;
	width: 100%;
	height: 300px;
	background: black;
	text-align: center;
	z-index: 100;
}

.footer_back {
	width: 150px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 50px;
}

.footer_back p {
	margin-top: 30px;
	letter-spacing: 0.5em;
	color: #ccc;
}

@media screen and (max-width: 1024px) {
	.banner_div{
		height: 500px;
	}

	.banner_button{
		height: 500px;
	}

	.contectbutton {
		width: 300px;
		height: 56px;
		margin-left: -150px;
		margin-top: -120px;
	}

	.loadMoreYear_button {
		margin-top: -30px;
		margin-left: -120px;
		height: 60px;
		line-height: 60px;
		width: 240px;
		font-size: 1.2em;
	}

	.loadMoreYear {
		height: 320px;
	}

	.footer_back {
		padding-top: 40px;
	}

	.line_top{
		left: 450px;
	}
}

@media screen and (max-width: 768px) {
	.banner_div{
		height: 350px;
	}

	.banner_button{
		height: 400px;
	}

	.contectbutton {
		width: 240px;
		height: 46px;
		margin-top: -100px;
		margin-left: -120px;
		line-height: 40px;
		font-size: 1.2em;
		letter-spacing: 0.3em;
	}

	.loadMoreYear_button {
		margin-top: -25px;
		margin-left: -110px;
		height: 50px;
		line-height: 50px;
		width: 220px;
		font-size: 1.0em;
	}

	.loadMoreYear {
		height: 280px;
	}


	.footer {
		height: 260px;
	}

	.footer_back img {
		width: 100px;
		height: 100px;
	}

	.line_lt{
		left:-3px;
	}
	.line_top{
		left: 400px;
		top:-3px;
	}
	.line_rt{
		right:-3px;
	}
	.line_bot{
		bottom:-3px;
	}

	.contectbutton:hover .line_bot{
		height:3px;
		width:46px;
	}
	.contectbutton:hover .line_rt{
		height:42px;
		width:3px;
	}
	.contectbutton:hover .line_top{
		height:3px;
		width:46px;
	}
	.contectbutton:hover .line_lt{
		height:42px;
		width:3px;
	}
}

@media screen and (max-width: 520px) {
	.banner_div{
		height: 260px;
	}

	.banner_button{
		height: 260px;
	}

	.contectbutton {
		width: 200px;
		height: 35px;
		margin-top: -70px;
		margin-left: -100px;
		line-height: 30px;
		font-size: 1.1em;
		letter-spacing: 0.1em;
		border: white solid 2px;
		font-weight: 300;
	}

	.loadMoreYear_button {
		margin-top: -20px;
		margin-left: -100px;
		height: 40px;
		line-height: 40px;
		width: 200px;
		letter-spacing: 0.1em;
		font-size: 0.8em;
	}

	.loadMoreYear {
		height: 220px;
	}


	.footer {
		height: 200px;
	}

	.footer_back {
		padding-top: 30px;
	}

	.footer_back img {
		width: 80px;
		height: 80px;
	}

	.footer_back p {
		margin-top: 20px;
		letter-spacing: 0.3em;
		font-size: 0.8em;
		color: #ccc;
	}

	.line_lt{
		left:-2px;
	}
	.line_top{
		left: 400px;
		top:-2px;
	}
	.line_rt{
		right:-2px;
	}
	.line_bot{
		bottom:-2px;
	}

	.contectbutton:hover .line_bot{
		height:2px;
		width:35px;
	}
	.contectbutton:hover .line_rt{
		height:33px;
		width:2px;
	}
	.contectbutton:hover .line_top{
		height:2px;
		width:35px;
	}
	.contectbutton:hover .line_lt{
		height:28px;
		width:1px;
	}
}

@media screen and (max-width: 400px) {
	.banner_div {
		height: 200px;
	}

	.banner_button {
		height: 200px;
	}

	.contectbutton {
		width: 180px;
		height: 35px;
		margin-top: -50px;
		margin-left: -90px;
		line-height: 35px;
		font-size: 1.0em;
		letter-spacing: 0.1em;
		border: white solid 1px;
		font-weight: 300;
	}

	.line_lt{
		left:-1px;
	}
	.line_top{
		left: 400px;
		top:-1px;
	}
	.line_rt{
		right:-1px;
	}
	.line_bot{
		bottom:-1px;
	}

	.contectbutton:hover .line_bot{
		height: 1px;
		width:35px;
	}
	.contectbutton:hover .line_rt{
		height:35px;
		width:1px;
	}
	.contectbutton:hover .line_top{
		height:1px;
		width:35px;
	}
	.contectbutton:hover .line_lt{
		height:35px;
		width:1px;
	}
}

@media screen and (max-width: 320px) {
	.banner_img{
		/*position: absolute;*/
		z-index: 0;
	}

	.banner_div{
		height: 100px;
	}

	.banner_button{
		height: 100px;
	}

	.contectbutton {
		width: 140px;
		height: 28px;
		margin-left: -70px;
		margin-top: -14px;
		line-height: 28px;
		font-size: 0.8em;
		letter-spacing: 0.2em;
		border: white solid 1px;
		font-weight: 300;
	}

	.loadMoreYear_button {
		margin-top: -15px;
		margin-left: -70px;
		height: 30px;
		line-height: 30px;
		width: 140px;
		letter-spacing: 0.1em;
		font-size: 0.6em;
	}

	.loadMoreYear {
		height: 150px;
	}

	.footer {
		height: 150px;
	}

	.footer_back {
		padding-top: 30px;
	}

	.footer_back img {
		width: 50px;
		height: 50px;
	}

	.footer_back p {
		margin-top: 20px;
		letter-spacing: 0.2em;
		font-size: 0.6em;
		color: #ccc;
	}

	.line_lt{
		left:-1px;
	}
	.line_top{
		left: 350px;
		top:-1px;
	}
	.line_rt{
		right:-1px;
	}
	.line_bot{
		bottom:-1px;
	}

	.contectbutton:hover .line_bot{
		height:1px;
		width:28px;
	}
	.contectbutton:hover .line_rt{
		height:28px;
		width:1px;
	}
	.contectbutton:hover .line_top{
		height:1px;
		width:28px;
	}
	.contectbutton:hover .line_lt{
		height:28px;
		width:1px;
	}
}



