* {
    margin: 0;
    padding: 0;
}

body{
    background-color: #e1e0e0;
}

#top_image1 {
    position: fixed;
    z-index: -100;
    width:100%;
}

.top_image_div {
    width: 100%;
    height: 1000px;
    position: relative;
}

.top_image_div > div {
    position: absolute;
    color: white;
    z-index: 100;
}

.top_image_span1 {
    top: 24.4%;
    left: 9.75%;
    font-size: 3.05em;
    height: 90px;
    border-bottom: 6px solid white;
    letter-spacing: 11px;
    font-weight: 600;
    font-family: 微软雅黑;
    position: relative;
}

.top_image_span2 {
    top: 61%;
    left: 9.3%;
    width: 560px;
    height: auto;
    line-height: 30px;
    letter-spacing: 1px;
    font-family: 微软雅黑;
    font-size: 8px;
}

.search_box {
    height: 295px;
}

.search_box input {
    display: block;
    height: 45px;
    width: 265px;
    border: 4px solid #626262;
    border-radius: 15px;
    margin: 0px auto;
    background-color: #e1e0e0;
    text-align: center;
    font-size: 20px;
    color: #909090;
    outline: medium; /*消除点击时出现边框*/
    position: relative;
    top: 48%;
}

.list_head {
    height: 420px;
    width: 85%;
    margin: 0 auto;
    border-top: 3px solid #909090;
    position: relative;
}

.list_head .year {
    position: absolute;
    top: 10px;
    right: 0px;
    color: #909090;
    letter-spacing: 1px;
    font-size: 21px;
}

.list_head .feiyang_icon {
    height: 295px;
    width: 295px;
    margin: 55px auto 0;

}

.list_head .feiyang_icon img {
    height: 100%;
    width: 100%;
}

.tech_list {
    height: 550px;
    width: 100%;
    margin-bottom: 190px;
}

.tech_list > div {
    float: left;
    height: 100%;
}

.tech_list .list_left, .tech_list .list_right {
    background-color: #e1e0e0;
    width: 9%;
    position: relative;
}

.tech_list .list_content {
    width: 82%;
    z-index: 100;
    overflow: hidden;
}

.list_content_inner {
    height:100%;
    width:100%;
    margin:0 auto;
}

.list_content_info{
    width: 170px;
    height: 220px;
    margin: 25px;
    float: left;
    background-color: #dcdbd6;
    position: relative;
    -webkit-box-shadow: 2px 1px 4px #cbcaca, -0.5px -0.5px 2px #cbcaca;
    -moz-box-shadow: 2px 1px 4px #cbcaca, -0.5px -0.5px 2px #cbcaca;
    box-shadow: 2px 1px 4px #cbcaca, -0.5px -0.5px 2px #cbcaca;
}

.list_content_info .person_img{
    width:170px;
    height:105px;
    overflow: hidden;
    position: absolute;
}

.list_content_info .person_img img{
    width:170px;
    height:105px;
    position: relative;
    top:-105px;
}

.list_content_info .person_name {
    width: 30px;
    font-size: 23px;
    line-height: 25px;
    font-weight: 900;
    margin: 50px auto 0;
    position: relative;
    z-index:10;
    top:15px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.list_content_info .person_year {
    width: 100px;
    bottom: 10px;
    text-align: center;
    font-size: 23px;
    font-weight: 600;
    position: absolute;
    left: 48%;
    color: #d0cfc5;
    letter-spacing: 1px;
    transform: translateX(-50px);
    bottom: 20px;

}

.list_left > div, .list_right > div {
    position: absolute;
    top: 50%;
    right: 0px;
    width: 60px;
    height: 60px;
    transform: translateY(-45px) rotate(-45deg);
}

.list_left > div {
    right: 0px;
}

.list_right > div {
    left: 0px;
}

.list_left .left_roll_bottom, .list_right .right_roll_bottom {
    background-color: #dcdbd6;
    /*-webkit-box-shadow:*/
    /*-moz-box-shadow:  */
}

.list_right .right_roll_bottom {
    -webkit-box-shadow: 0.5px 3px 2px 0 #c9c9c9;
    -moz-box-shadow: 0.5px 3px 2px 0 #c9c9c9;
    box-shadow: 0.5px 3px 2px 0 #c9c9c9;
}

.list_left .left_roll_bottom {
    -webkit-box-shadow: -3px -0.5px 2px 0 #c9c9c9;
    -moz-box-shadow: -3px -0.5px 2px 0 #c9c9c9;
    box-shadow: -3px -0.5px 2px 0 #c9c9c9;
}

.list_left .left_roll_top {
    -webkit-box-shadow: inset 1px 1px 2px 0px #cfcfcf;
    -moz-box-shadow: inset 1px 1px 2px 0px #cfcfcf;
    box-shadow: inset 1px 1px 2px 0px #cfcfcf;
}

.list_right .right_roll_top {
    -webkit-box-shadow: inset -1px -1px 2px 0px #cfcfcf;
    -moz-box-shadow: inset -1px -1px 2px 0px #cfcfcf;
    box-shadow: inset -1px -1px 2px 0px #cfcfcf;
}

.list_left .left_roll_top {
    background-color: #e1e0e0;
    border-top-left-radius: 100px;
}

.list_right .right_roll_top {
    background-color: #e1e0e0;
    border-bottom-right-radius: 100px
}

.list_content_info:hover .person_name{
    top:75px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.list_content_info img{
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
.list_content_info:hover img{
    top:0px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}
/*巩娜部分代码*/


.contect{
    background: #e1e0e0;
    padding: 0;
    margin: 0;
}

.contect_banner{
    text-align: center;
    min-width: 350px;
    position: relative;
}

.contect_banner img{
    width: 100%;
    height: 100%;
    z-index: -1;
}

.contect_banner p{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 55px;
    width: 360px;
    margin-left: -180px;
    margin-top: -70px;
    line-height: 50px;
    color: white;
    font-size: 1.6em;
    font-weight: 600;
    letter-spacing: 0.3em;
    font-family: "Adobe 黑体 Std R";
    border: white solid 5px;
}

.photo{
    width: 100%;
    margin-top: -50px;
    overflow: hidden;
}


.tagContent{
    background: black;
    width: 100%;
    height: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    display: none;
}

#tagContent div.selectTag {
    display: block;
}

#tags li.selectTag {
    position: relative;
}

.pics_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.pics_container span{
    display: inline-block;
    vertical-align: top;
}

.pics_container a{
    display: block;

    text-decoration: none;
}

.loadmore{
    width: 100%;
    height: 360px;
    position: relative;
    background: #e1e0e0;
}

.load_button{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -35px;
    margin-left: -150px;
    height: 70px;
    width: 300px;
    line-height: 70px;
    background: chocolate;
    color: white;
    box-shadow:1px 1px 10px 0 #ccc;
    border: none;
    letter-spacing: 0.2em;
    font-size: 1.4em;
    font-weight: 600;
    font-family: "Microsoft JhengHei Light" ;
    cursor: pointer;
    text-align: center;
}
.morepics{
    display: none;
}
.none{
    display:none;
    width: 100%;
}

.contentid{
    clear: both;
    width: 100%;
    background: #000 ;
}

.yearslist{
    width: 100%;
    height: 40px;
    text-align: center;
}

.yearslist ul{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.yearslist li{
    float: left;
    margin-left: 20px;
    margin-right: 20px;
}

.yearslist a{
    line-height: 40px;
    color: #000;
    font-size: 20px;
}

.line{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 90%;
    height: 2px;
    background: #000;
}


.footer{
    width: 100%;
    height: 300px;
    background: black;
    text-align: center;
}

.footer_back{
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

.footer_back p{
    margin-top: 30px;
    letter-spacing: 0.5em;
    color: #ccc;
}

@media screen and (max-width: 1024px){
    .contect_banner p{
        width: 300px;
        margin-left: -150px;
    }
    .load_button{
        margin-top: -30px;
        margin-left: -120px;
        height: 60px;
        line-height: 60px;
        width: 240px;
        font-size: 1.2em;
    }
    .loadmore{
        height: 320px;
    }
    .footer_back{
        padding-top: 40px;
    }
}

@media screen and (max-width: 768px){
    .contect_banner p{
        width: 240px;
        height: 46px;
        margin-left: -120px;
        margin-top: -23px;
        line-height: 45px;
        font-size: 1.4em;
        letter-spacing: 0.2em;
        border: white solid 4px;
    }
    .load_button{
        margin-top: -25px;
        margin-left: -110px;
        height: 50px;
        line-height: 50px;
        width: 220px;
        font-size: 1.0em;
    }
    .loadmore{
        height: 280px;
    }

    .yearslist{
        height: 35px;
    }

    .yearslist li{
        margin-left: 15px;
        margin-right: 15px;
    }

    .yearslist a{
        line-height: 35px;
        font-size: 18px;
    }

    .footer{
        height: 260px;
    }
    .footer_back img{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width: 520px){
    .contect_banner p{
        width: 200px;
        height: 40px;
        margin-top: -20px;
        margin-left: -100px;
        line-height: 40px;
        font-size: 1.0em;
        letter-spacing: 0.1em;
        border: white solid 3px;
    }
    .load_button{
        margin-top: -20px;
        margin-left: -100px;
        height: 40px;
        line-height: 40px;
        width: 200px;
        letter-spacing: 0.1em;
        font-size: 0.8em;
    }
    .loadmore{
        height: 220px;
    }

    .yearslist{
        height: 30px;
    }

    .yearslist li{
        margin-left: 10px;
        margin-right: 10px;
    }

    .yearslist a{
        line-height: 30px;
        font-size: 14px;
    }
    .footer{
        height: 200px;
    }
    .footer_back{
        padding-top: 30px;
    }
    .footer_back img{
        width: 80px;
        height: 80px;
    }
    .footer_back p{
        margin-top: 20px;
        letter-spacing: 0.3em;
        font-size: 0.8em;
        color: #ccc;
    }
}


@media screen and (max-width: 320px){
    .contect_banner p{
        width: 120px;
        height: 26px;
        margin-left: -60px;
        margin-top: -13px;
        line-height: 25px;
        font-size: 0.6em;
        letter-spacing: 0.1em;
        border: white solid 2px;
    }
    .load_button{
        margin-top: -15px;
        margin-left: -70px;
        height: 30px;
        line-height: 30px;
        width: 140px;
        letter-spacing: 0.1em;
        font-size: 0.6em;
    }
    .loadmore{
        height: 150px;
    }

    .footer{
        height: 150px;
    }
    .footer_back{
        padding-top: 30px;
    }
    .footer_back img{
        width: 50px;
        height: 50px;
    }
    .footer_back p{
        margin-top: 20px;
        letter-spacing: 0.2em;
        font-size: 0.6em;
        color: #ccc;
    }
}

/*大定部分代码，全屏的技术员信息页*/

.full_screen_techinfo{
    position: fixed;
    opacity: 0;
    display: none;
    top:0px;
    left:0px;
    z-index: 100;
    width:100%;
    height:100%;
    background-color:rgba(0,0,0,0.7);
}
.close_full_screen{
    position: absolute;
    top:20px;
    right:20px;
    width:45px;
    height:45px;
    overflow: hidden;
    cursor: pointer;
}
.close_full_screen div:nth-child(1),.close_full_screen div:nth-child(2){
    background-color: white;
    position: absolute;
}
.close_full_screen div:nth-child(1){
    width:0px;
    height:2px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: 0 0;
    top:0px;
    left:0px;
}
.close_full_screen div:nth-child(2){
    width:2px;
    height:0px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    transform-origin: 0 0;
    top:0px;
    right:0px;
}
.full_screen_content{
    height:520px;
    width:820px;
    margin:0 auto;
    position: relative;
    top:50%;
    -webkit-transform: translateY(-260px);
    -moz-transform: translateY(-260px);
    -ms-transform: translateY(-260px);
    -o-transform: translateY(-260px);
    transform: translateY(-260px);
}
.full_screen_content>div{
    width:50%;
    height:100%;
    float: left;
    background-color: #e4dcc8;
    overflow: hidden;
}
.full_screen_left img{
    width:100%;
    height:100%;
    position: relative;
    left:-100%;
}
.full_screen_right{
    width:100%;
    height:100%;
}
.full_screen_right_content{
    height:75%;
    width:70%;
    margin:20% auto 0;
}
.full_screen_tech_info{
    height:15%;
    width:100%;
}
.full_screen_tech_info p:nth-child(1) {
    position: relative;
    top:-3px;
    /*top:0px;*/
    font-size: 25px;
    font-weight: 800;
}
.full_screen_tech_info p:nth-child(2) {
    position: relative;
    top:-3px;
    /*top:0px;*/
    font-size: 15px;
    line-height: 22px;
}
.full_screen_mote{
    height: 67%;
    position: relative;
}
.full_screen_mote span{
    height:auto;
    position: absolute;
    bottom: 5px;
    line-height: 20px;
    font-size: 16px;
}
.full_screen_teacher {
    height:5%;
    margin:20% 0 0;
}
.full_screen_teacher span{
    font-size: 15px;
    position: relative;
    top:-3px;
}

.full_screen_teacher span:nth-child(2){
    color:#1155cc;
    cursor: pointer;
}

@media screen and (max-width:700px) {
    .top_image_span1 {
        top: 5.4%;
        font-size: 1.8em;
        height: 45px;
    }
    .top_image_span2{
        width: 340px;
        top: 25%;
    }
    .search_box {
        height: 195px;
    }
    .search_box input {
        top: 40%;
    }
    .list_head {
        height: 300px;
    }
    .list_head .feiyang_icon {
        width: 195px;
        height: auto;
    }
}
@media screen and (max-width:450px) {
    .top_image_span1 {
        top: 10.4%;
        font-size: 2.05em;
        letter-spacing: 5px;
        height: 60px;
    }
    .top_image_span2{
        width: 240px;
        top:30%;
    }
}